<nz-header class="bg-purp">
  <div 
    class="w-32 h-8 float-left bg-special mt-4 mr-6 mb-4 ml-0 cursor-pointer"
  >
    <img
      routerLink="/"
      class="object-fill w-32 h-8"
      src="/assets/Logo.png"
      alt=""
    />
  </div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="bg-topbar">
    <a nz-menu-item routerLink="/auctions">Auctions</a>
    <!-- <a nz-menu-item routerLink="/aboutUs">About Us</a> -->
    <ng-container *ngIf="isAuthenticated()">
      <a nz-menu-item routerLink="/newAuction">New Auction</a>
    </ng-container>
    
    <a
      class="float-right"
      nz-menu-item
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      <span nz-icon nzType="user" nzTheme="outline"></span
    ></a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <ng-container *ngIf="!isAuthenticated()">
          <a nz-menu-item routerLink="/register">Register</a>
          <a nz-menu-item routerLink="/login">Login</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
          <a nz-menu-item routerLink="/userProfile">My Profile</a>
          <a nz-menu-item routerLink="/myAuctions">My Auctions</a>
          <a nz-menu-item  (click)="logout()">Logout</a>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </ul>
</nz-header>
